.tab-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .tab-btn {
    padding: 10px 20px;
    border-radius: 30px;
    /* border: 2px solid #007bff; */
    background-color: #1b4584;
    color: white;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .tab-btn.active {
    background-color: #0d6efd; /* blue */
    border-color: #0d6efd;
    color: white;
  }
  
  .tab-btn:hover {
    opacity: 0.9;
  }
  